config_tf:
  bucket:
    parent_frame_id: world
    transform:
      rotation:
        w: 1
        x: 0
        y: 0
        z: 0
      translation:
        x: 0
        y: -25
        z: 0
  bucket_edge0:
    parent_frame_id: bucket
    transform:
      rotation:
        w: 1
        x: 0
        y: 0
        z: 0
      translation:
        x: 500
        y: -400
        z: 0
  bucket_edge1:
    parent_frame_id: bucket
    transform:
      translation:
      rotation:
        w: 1
        x: 0
        y: 0
        z: 0
      translation:
        x: 200
        y: 400
        z: 0
  bucket_edge2:
    parent_frame_id: bucket
    transform:
      rotation:
        w: 1
        x: 0
        y: 0
        z: 0
      translation:
        x: -200
        y: -400
        z: 0
  bucket_edge3:
    parent_frame_id: bucket
    transform:
      translation:
      rotation:
        w: 1
        x: 0
        y: 0
        z: 0
      translation:
        x: -500
        y: 400
        z: 0
prepro:
  crop_edge: True

config:
  report:
    keys: ["__recipe__", "pcount","volume","fitness","rmse","azimuth","rotation","Gx","Gy","Gz","Vx","Vy","Vz","tcap","tfeat","tmatch"]
    labels: ["レシピ", "点数","体積","一致度","平均誤差","傾き[deg]","回転[deg]","X移動[mm]","Y移動[mm]","Z移動[mm]","X回転[deg]","Y回転[deg]","Z回転[deg]","撮影処理時間[sec]","特徴処理時間[sec]","マッチング処理時間[sec]"]

