config_tf:
  prepro:
    parent_frame_id: base
    transform:
      translation:
        x: 600
        y: 420
        z: 500
      rotation:
        x: 0
        y: 0
        z: -0.707
        w: 0.707
config:
  rsocket:
    update_frame_id: prepro
#    target_frame_id: camera/capture0/solve0/revolve
    x1keys: ['probables','prob_m','prob_x','prob_z']
  report:
    keys: ["__recipe__", "pcount","probables","prob_v","prob_m","prob_x","prob_z","fitness","rmse","azimuth","rotation","Gx","Gy","Gz","Vx","Vy","Vz","tcap","tfeat","tmatch"]
    labels: ["レシピ", "点数","候補","体積","すきま","概略X","概略Z","一致度","平均誤差","傾き[deg]","回転[deg]","X移動[mm]","Y移動[mm]","Z移動[mm]","X回転[deg]","Y回転[deg]","Z回転[deg]","撮影[s]","特徴点[s]","マッチ[s]"]

